{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% blocktrans %}
<h3>Welcome to the European Student Card and Identifier management system</h3>
It is important the you consent that your personal information is processed
in the system before using it.<br>
This is what the system knows about you:<br>
{% endblocktrans %}
<ul>
  <li><strong>{% trans "Name" %}:</strong> {{ request.user.first_name }}</li>
  <li><strong>{% trans "Family name" %}:</strong> {{ request.user.last_name }}</li>
  <li><strong>{% trans "Email" %}:</strong> {{ request.user.email }}</li>
  {% if request.user.identifier %}
  <li><strong>{% trans "Identifier" %}:</strong> {{ request.user.identifier }}</li>
  {% endif %}
</ul>
<p>
{% blocktrans %}
Also, the system will create a link to the identification received vía
{{ source.description }} but no extra personal information will be stored.
{% endblocktrans %}
</p>
<p>
{% if request.user.is_student %}
{% blocktrans %}
Do you agree with the information being stored to provide you with an European
Student Card and Identifier?
{% endblocktrans %}
{% else %}
{% blocktrans %}
Do you agree with the information being stored to allow you access and
manage the system?
{% endblocktrans %}
{% endif %}
</p>
<a href="{% url 'esiidm:accept' token 'Y' %}" class="btn btn-success">{% trans "Yes" %}</a>
<a href="{% url 'esiidm:accept' token 'N' %}" class="btn btn-danger">{% trans "No" %}</a>
{% endblock %}
{% comment %}
vim:ts=2:expandtab:ai
$Id$
{% endcomment %}
