{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Expired invitation" %}</h3>
{% if sent %}
{% blocktrans %}
The invitation you have used is expired.<br>
You will receive a fresh one you can use.
{% endblocktrans %}
{% else %}
{% blocktrans %}
The invitation you have used is expired.<br>
But sending a new one to the email address the system has for you, has failed.
{% endblocktrans %}
{% endif %}
{% endblock %}

{% comment %}
vim:ts=2:expandtab:ai
$Id$
{% endcomment %}
