{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Welcome" %}</h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{{ request.user.first_name }} {{ request.user.last_name }}
<a class="btn btn-danger" href="{% url 'esiidm:logout' %}">
{% trans "Close session" %}
</a><br>
Email: {{ request.user.email }}<br>
{% blocktrans %}
You can authenticate to the system using:
{% endblocktrans %}
<br>
<ul>
  {% for i in request.user.identifiers.all %}
  <li>{% trans i.source.description %}
  {% endfor %}
</ul><br>
{% blocktrans %}
If you want to use a new source for authenticating
{% endblocktrans %}
<a href="{% url 'esiidm:reinvite' %}">{% trans "request a new one" %}</a>
{% blocktrans %}
that will be sent to the above email address
{% endblocktrans %}
<br>
{% if request.user.is_staff %}
{% blocktrans %}
You have permission to manage the system
{% endblocktrans %}
<a href="{% url 'admin:index' %}">{% trans "via the admin panel" %}</a><br>
{% endif %}
{% if request.user.is_officer %}
{% blocktrans %}
You can manage students for the following HEI:
{% endblocktrans %}
<ul>
  {% for hei in request.user.HEIs %}
  <li>{{ hei }}</li>
  {% endfor %}
</ul>
{% endif %}
{% if request.user.is_student %}
<emph>Test presentation</emph>
{% for c in request.user.cards.all %}
<table>
  <tr>
    <td>{{ c.hei.name }}</td>
  </tr>
  <tr>
    <td>{{ c.student.first_name }} {{ c.student.last_name }}</td>
  </tr>
  <tr>
    <td>Student Number:</td>
    <td>{{ c.esi }}</td>
  </tr>
  <tr>
    <td>Card Number:</td>
    <td>{{ c.esc }}</td>
  </tr>
</table>
<a href="https://router.europeanstudentcard.eu/svc-provider/{{ c.esc }}">Router link</a>
{% endfor %}
{% endif %}
{% endblock %}

{% comment %}
vim:ts=2:expandtab:ai
$Id$
{% endcomment %}
