{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>{% trans "Welcome" %}</h3>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{{ request.user.first_name }} {{ request.user.last_name }}
<a class="btn btn-danger" href="{% url 'esiidm:logout' %}">
{% trans "Close session" %}
</a><br>
Email: {{ request.user.email }}<br>
{% blocktrans %}
You can authenticate to the system using:
{% endblocktrans %}
<br>
<ul>
  {% for i in request.user.identifiers.all %}
  <li>{% trans i.source.description %}
  {% endfor %}
</ul><br>
{% blocktrans %}
If you want to use a new source for authenticating
{% endblocktrans %}
<a href="{% url 'esiidm:reinvite' %}">{% trans "request a new one" %}</a>
{% blocktrans %}
that will be sent to the above email address
{% endblocktrans %}
<br>
{% if request.user.is_staff %}
{% blocktrans %}
You have permission to manage the system
{% endblocktrans %}
<a href="{% url 'admin:index' %}">{% trans "via the admin panel" %}</a><br>
{% endif %}
{% if request.user.is_officer %}
{% blocktrans %}
You can manage students for the following HEI:
{% endblocktrans %}
<ul>
  {% for hei in request.user.HEIs %}
  <li>{{ hei }}
    <a href={% url 'esiidm:cards' hid=hei.id blank=False %}>{% trans "get cards in PDF" %}</a> or 
    <a href={% url 'esiidm:cards' hid=hei.id blank=True %}>{% trans "for preprinted backgrounds" %}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% if request.user.is_student %}
<emph>{% trans "Test presentation" %}</emph>
{% for c in request.user.cards.all %}
<div class="card col-bg-6 col-sm-12">
  <div class="card-body">
    <div class="media">
      <div class="media-body">  
        <h2 class="mt-0">{{ c.hei.name }}</h2>
      </div>
      <img src="data:image/png;base64,{{ c.myESCQR }}" height="150">
    </div>
    <div class="card-text">
      <h3>{{ c.student.first_name }} {{ c.student.last_name }}</h3>
      <strong>{% trans "Student Number" %}:</strong> 
      {{ c.hei.sho }}:{{ c.esi }}</br>
      <strong>{% trans "Card Number" %}:</strong>
      <a href="{{ c.myESCURL }}" class="btn btn-light">{{ c.esc }}</a>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% comment %}
vim:ts=2:expandtab:ai
$Id$
{% endcomment %}
