{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
    <div>
      <h2>{% trans "Student cards bulk load" %}</h2>
      <h3>
        {% blocktrans %}
        The CSV file MUST (RFC2119) have field names as columns on
        the first row.<br />
        Fields MAY (RFC2119) be in any order.
        {% endblocktrans %}
      </h3>
      <h3>
        {% blocktrans %}
        The CSV file MUST (RFC2119) have a minimum set of fields:
        {% endblocktrans %}
      </h3>
      <ul>
        <li>
          <strong>esi:</strong>
          {% trans "contains the student specific part of the ESI" %}
        </li>
        <li>
          <strong>first_name:</strong>
          {% trans "student's given name" %}
        </li>
        <li>
          <strong>last_name:</strong>
          {% trans "student's family name" %}
        </li>
        <li>
          <strong>email:</strong>
          {% trans "student's email" %}
        </li>
      </ul>
      <h3>
        {% blocktrans %}
        The rows MAY (RFC2119) also contain these optional fields:
        {% endblocktrans %}
      </h3>
      <ul>
        <li>
          <strong>identifier:</strong>
          {% trans "government issued identifier for the student" %}
        </li>
        <li>
          <strong>operation:</strong>
          {% trans "if present, value MUST (RFC 2119) be either" %}:
          <ul>
            <li>
              {% blocktrans %}
              D for deleting the card if it belongs to the student
              {% endblocktrans %}
            </li>
            <li>
              {% blocktrans %}
              C for creating a new card, this is the default if absent
              {% endblocktrans %}
            </li>
          </ul>
        </li>
      </ul>
      <p>
      {% blocktrans %}
      Persons are created as needed and receive an invitation over email
      requesting consent.
      {% endblocktrans %}
      </p>
    </div>
    <div>
      <form action="." method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        {% trans "Please, make sure you select the right delimiter." %}
        <button class="button" index="0" type="submit">
          {% trans "Upload CSV" %}
        </button>
      </form>
    </div>
    <br />

{% endblock %}
