{% extends "admin/base_site.html" %}
{% load i18n %}
{% block content %}
    <div>
      <h2>{% trans "HEI bulk load" %}</h2>
      <h3>
        {% blocktrans %}
        The CSV file MUST (RFC2119) have field names as columns on
        the first row.<br />
        Fields MAY (RFC2119) be in any order.
        {% endblocktrans %}
      </h3>
      <h3>
        {% blocktrans %}
        The CSV file MUST (RFC2119) have a minimum set of fields:
        {% endblocktrans %}
      </h3>
      <ul>
        <li>
          <strong>name:</strong>
          {% trans "HEI name" %}
        </li>
        <li>
          <strong>country:</strong>
          {% trans "HEI country ISO two letter code" %}
        </li>
        <li>
          <strong>sho:</strong>
          {% trans "SCHAC Home Organization (HEI Internet domain)" %}
        </li>
        <li>
          <strong>manager:</strong>
          {% trans "email address for the main HEI officer" %}
        </li>
      </ul>
      <h3>
        {% blocktrans %}
        The rows MAY (RFC2119) also contain these optional fields:
        {% endblocktrans %}
      </h3>
      <ul>
        <li>
          <strong>pic:</strong>
          {% trans "HEI PIC code (required for ESC)" %}
        </li>
        <li>
          <strong>euc:</strong>
          {% trans "HEI EUC code" %}
        </li>
        <li>
          <strong>erc:</strong>
          {% trans "HEI Erasmus code" %}
        </li>
        <li>
          <strong>oid:</strong>
          {% trans "HEI Erasmus OID" %}
        </li>
        <li>
          <strong>url:</strong>
          {% trans "HEI main web page" %}
        </li>
        <li>
          <strong>termstart:</strong>
          {% trans "month when term starts (1 through 12)" %}
        </li>
        <li>
          <strong>first_name:</strong>
          {% trans "Main officer's given name" %}
        </li>
        <li>
          <strong>last_name:</strong>
          {% trans "Main officer's family name" %}
        </li>
      </ul>
      <p>
        {% blocktrans %}
        If first_name and last_name are present,
        the person is created in the system if needed.
        {% endblocktrans %}
        <br/>
        {% blocktrans %}
        Persons receive an invitation via email for activating the account.
        {% endblocktrans %}
      </p>
    </div>
    <div>
      <form action="." method="POST" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        {% trans "Please, make sure you select the right delimiter." %}
        <button class="button" index="0" type="submit">
          {% trans "Upload CSV" %}
        </button>
      </form>
    </div>
{% endblock %}
